body{
    background-color: gold;
    background-position: none;
    background-image: C:\Users\suresh\Pictures\Screenshots\Screenshot (1).png;

}
h1{
    color:blue;
    text-align:center ;
}